.favorites_container {
  margin-top: 100px;
  min-height: 100vh;

  .favorite_media_cards_container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 20px;
  }

  h2 {
    display: flex;
    align-items: center;
    font-weight: 300;
    gap: 7px;
    color: white;
    font-weight: 600;
  }
}
