.upcoming_page_title {
  margin: 45px 15px;
  color: white;
  width: fit-content;
  text-wrap: nowrap;
  font-size: max(2vw, min(20px));
}

@media only screen and (max-width: 600px) {
  .upcoming_slider {
    .swiper-slide {
      width: 45% !important;
    }
  }
}
