:root {
    --main-red: rgb(230, 34, 34)
}

.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

.button {
    --border-right: 6px;
    --text-stroke-color: rgb(255, 255, 255);
    --animation-color: var(--main-red);
    letter-spacing: 3px;
    text-decoration: none;
    font-size: max(1.5vw, min(15px));
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.284);
    /* margin: 30px; */
}

.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}

@media only screen and (max-width: 600px) {
    .button {
        --border-right: none;
        --text-stroke-color: rgb(255, 255, 255);
        --animation-color: rgb(255, 255, 255);
    }
}