.ant-collapse {
  font-size: 12px;
  font-family: "Poppins", sans-serif;

  .ant-collapse-header-text {
    font-size: 20px;
  }

  .ant-collapse-header {
    display: flex;
    align-items: center !important  ;
  }

  .ant-collapse-content,
  .ant-collapse-header-text,
  .ant-collapse-expand-icon {
    color: #b3adae;
  }
}

.accordion {
  ul {
    list-style-type: none;
    color: rgb(230, 34, 34);
    li b {
      color: #b3adae;
      font-size: 15px;
    }
  }
}
