.background_container {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: max(40vw, min(700px));
  overflow: hidden;
  display: flex;
  justify-content: center;

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .mySwiper {
    width: 100%;
    height: max-content;
  }

  .slider_image {
    width: 100%;
    min-height: 700px;
    object-fit: cover;
    cursor: grab;
  }

  .slide_content {
    position: absolute;
    top: 18%;
    left: 5%;
    color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: max(3vw, min(30px));
    max-width: 550px;

    a {
      width: fit-content;
    }

    .movie_title {
      align-self: flex-start;
      font-size: max(4vw, min(28px));
      text-wrap: nowrap;
      height: 30px;
    }

    .movie_description {
      display: flex;
      text-align: left;
      word-wrap: break-word;
      font-size: (max(1vw, min(15px)));
      width: 100%;
    }

    .movie_title,
    .movie_description {
      text-shadow: 1px 1px 15px black;
    }
    .genres_list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 2vw;

      .movie_genre {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1vw;
        object-fit: contain;
        width: 10vw;
        min-width: 60px;
        font-size: max(1vw, min(12px));
        height: 40px;
        min-height: 25px;
        text-align: center;
        text-decoration: none;
        border: 1px solid rgba(255, 0, 0, 0.603);
        color: #fff;
        background-color: rgb(255, 0, 0);
        border-radius: 5px;
        position: relative;
        overflow: hidden;
      }

      .movie_genre::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.071);
        transform: perspective(5px) rotateX(2deg) rotateY(2deg);
        transition: transform 0.3s;
        pointer-events: none;
      }

      .movie_genre:hover::before {
        transform: perspective(5px) rotateX(0) rotateY(0);
      }
    }
  }

  .left_shadows_box {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3vw;
    background-color: black;
    box-shadow: 15px 0px 65px 65px #000000;
  }

  .bottom_shadows_box {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3vw;
    width: 100%;
    background-color: black;
    box-shadow: 79px 0px 140px 140px #000000;
  }

  .movie_rate {
    display: flex;
    justify-content: center;
    align-items: center;
    .circle_rate {
      position: absolute;
    }
  }

  .movie_combined_information {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    margin-left: 10px;
  }
}
