.actor_page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: max(5%, min(80px));

  .actor_details_container {
    height: 80%;
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: white;

    .biography_container {
      .actor_name,
      h3 {
        color: white;
        font-size: max(2vw, min(20px));
      }
      width: 100%;
      padding: 25px;
      color: #b3adae;

      .actor_biography {
        font-size: max(1.2vw, min(20px));
      }
    }

    .actor_profile_image {
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 25px;

      .actor_personal_info {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;

        ul {
          padding: 0;
          margin: 0;
        }

        p {
          margin: 0;
          font-size: max(1vw, min(13px));
          color: #b3adae;
        }

        b {
          margin-top: 10px;
          font-size: max(1.2vw, min(17px));
          color: white;
        }
      }

      img {
        width: 20vw;
        min-width: 200px;
        border-radius: 10px;
        &:hover {
          transition: all 2s ease-in-out;
          border-radius: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .actor_page .actor_details_container {
    flex-direction: column;
    justify-content: center;
  }
}
