.actor_page {
  // height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: aqua;

  .actor_details_container {
    height: 80%;
    margin-top: 60px;
    width: 100%;
    // background-color: burlywood;
    display: flex;
    flex-direction: row;
    color: white;

    .biography_container {
      width: 100%;
      padding: 25px;
    }

    .actor_profile_image {
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 25px;

      .actor_personal_info {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;

        ul {
          padding: 0;
          margin: 0;
        }

        p {
          margin: 0;
          font-size: 13px;
        }

        b {
          margin-top: 10px;
          font-size: 17px;
        }
      }

      img {
        width: 20vw;
        min-width: 200px;
        border-radius: 10px;
        &:hover {
          transition: all 2s ease-in-out;
          border-radius: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .actor_page .actor_details_container {
    flex-direction: column;
    justify-content: center;
  }
}
