:root {
  --main-red: rgb(230, 34, 34);
}

.navbar_container {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  z-index: 10;
  transition: background-color 0.4s ease-in-out;

  &.black {
    background-color: black;
  }

  .wave_logo,
  .search_favorites_container {
    margin: 5px 25px;
  }

  .wave_logo {
    cursor: pointer;
    h2 {
      font-size: 25px;
      span {
        color: var(--main-red);
      }
    }
  }

  .navbar_tools {
    position: absolute;
    top: 1.7rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
  }
}
@media only screen and (max-width: 600px) {
  .navbar_container {
    flex-direction: column;
    align-items: flex-start;
  }

  .buttons_container {
    width: 100%;
  }
}
