.navbar_container {
  background-color: black;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;

  div {
    margin: 10px;
  }

  .search_favorites_container {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}
@media only screen and (max-width: 600px) {
  .buttons_container {
    display: none;
  }
}
