.navbar_container {
  background-color: black;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;

  .wave_logo,
  .buttons_container,
  .search_favorites_container {
    margin: 10px;
  }

  .abladabla {
    position: absolute;
    top: 1.7rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}
@media only screen and (max-width: 600px) {
  .navbar_container {
    flex-direction: column;
    align-items: flex-start;
  }

  .buttons_container {
    width: 100%;
  }

  // .buttons_container {
  //   display: none;
  // }
}
