.videos_container {
  // height: 100vh;
  padding: 30px;

  .swiper-button-prev,
  .swiper-button-next {
    color: white;
    filter: drop-shadow(0px 0px 4px #000000);
    position: absolute;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    // background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 1300px) {
  .videos_container {
    height: 70vh;
  }
}
