@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');



:root {
  --black-12: rgba(31, 31, 31, 1);
  --grey-75: rgba(191, 191, 191, 1);
  --black-06: rgba(15, 15, 15, 1);
  --black-10: rgba(26, 26, 26, 1);
  --main-red: rgb(230, 34, 34)
}

.mydict {
  display: flex;
  justify-content: center;
  width: 100%;
}

.section_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

@media only screen and (max-width: 600px) {
  .mydict {
    display: none;
  }

  .mydict div {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 0;
    width: 100%;
    height: 100dvh;
  }

  .block {
    display: block;
  }

  .section_buttons {
    width: 100%;
  }


  label span {
    padding: 2.5vw 30vw;
    background-color: black;
  }
}